@charset "UTF-8";

*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(orange, yellow);
}

.containerhead {
  text-align: center;
  padding: 45px;
}

.containerpoke1 {
  background-image: linear-gradient(darkgreen, rgb(3, 230, 117));
  color: #000000;
  padding: 10px 10px 40px 10px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.404) ;
  float: left;
  margin: 50px 50px 50px 300px
}

.containerpoke2 {
  background-image: linear-gradient(red, orange);
  color: #000000;
  padding: 10px 10px 40px 10px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.404) ;
  float: left;
  margin: 50px 100px 50px 100px
}

.containerpoke3 {
  background-image: linear-gradient(rgb(52, 52, 255), rgb(0, 238, 255));
  color: #000000;
  padding: 10px 10px 40px 10px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.404) ;
  float: left;
  margin: 50px 300px 50px 50px
}

div > h2 {
  text-align: center;
}

div > p {
  text-indent: 20px;
  text-align: justify;
  padding: 10px;
}

.foto {
  height: 280px;
  width: 100%;
}